.UnEnrolledUsers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80vw;

  .Actions {
    display: flex;
    justify-content: space-between;
  }
  
  .SearchBar{
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .SearchUser {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: thin solid black
  }
  
  .UserTable {
    border-collapse: collapse;
  }

  th, td {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 1.5rem;
    text-align: center;
  }

  th {
    padding: 1rem;
  }
}